body {
    background-color: rgb(0, 9, 179);
    color: rgb(255, 255, 255);
}

header {
    border: solid 2px rgb(0, 0, 0);
    font-size: 32px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 30px;             /* tamanho da fonte */
    text-align: center;         /* centralizado  */
    text-transform: uppercase;  /* letras maiúsculas */
}

p {
    font-size: 16px;
    color: rgb(19, 0, 126);
}